<div class = "container">

  {{!-- page title --}}
  <div class = "jumbotron">
    <div class = "row">
      <div class = "col-md-3">
        <img src="assets/img/burgerImg.jpg" alt="Burger Picture" height="767px" width="767px" id = "burger-pic">
      </div>
      <div class = "col-md-9">
        <h1>Welcome to Eat-A-Burger!</h1>
        <h3>Famous burgers from around the country</h3>
      </div>
    </div>
  </div>

  <div class = "row">

    {{!-- Ready to Eat panel --}}
    <div class = "col-md-6">
      <div class = "card">
        <div class = "card-header">
          <h2>Ready to Eat!</h2>
        </div>
        <div class = "card-body">
          <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/eat-block devour=true}}
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    {{!-- Already Eaten panel --}}
    <div class = "col-md-6">
      <div class = "card">
        <div class = "card-header">
          <h2>Already Eaten!</h2>
        </div>
        <div class = "card-body">
          <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/eat-block devour=false}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class = "row">

    {{!-- Add a Burger form --}}
    <div class = "col-md-6">
      <div class = "card">
        <div class = "card-header">
          <h2>Add-a-Burger</h2>
        </div>
        <div class = "card-body">
          <form id = "add">
            <div class = "form-group">
              <label for = "add-burger">Enter the Name of the Burger to Add:</label>
              <input type = "text" id = "add-burger" name = "name" class = "form-control">
            </div>
            <button type = "submit" class = "btn btn-default">Add-a-Burger</button>
          </form>
        </div>
      </div>
    </div>

    {{!-- Remove a Burger form --}}
    <div class = "col-md-6">
      <div class = "card">
        <div class = "card-header">
          <h2>Remove-a-Burger</h2>
        </div>
        <div class = "card-body">
          <form id = "del">
            <div class = "form-group">
              <label for = "del-burger">Select the Burger to Delete:</label>
              <select id = "del-burger" name = "name" class = "form-control">
                {{#each burgers}}
                  <option value="{{this.id}}">{{this.burger_name}}</option>
                {{/each}}
              </select>
            </div>
            <button type = "submit" class = "btn btn-default">Remove-a-Burger</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>