<li>
	{{burger_name}}

	<button class="btn btn-default change-eaten" data-id="{{id}}" data-eat="{{devour}}">
		{{#if devour}}<i class = "fa fa-certificate" aria-hidden = "true"></i> Eat-A-Burger
    {{else}}<i class = "fa fa-sun-o" aria-hidden = "true"></i> Re-Make Burger{{/if}}
	</button>
</li>